*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	font-size:20px;
	overflow-x:hidden;
	color:black;
	font-family: 'Flamenco', cursive;
}
.clearfix:after{
	content:".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
header{
	background-image:linear-gradient(rgba(105,105,105,0.4),rgba(105,105,105,0.4)),url("../static_images/theme3.jpg") ;
	height:auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;

}
.row{
	max-width: 1180px;
	margin: 0 auto;
}
.logo1{
	height:150px;
	width: auto;
	float:left;
	margin-top: -20px;
	margin-left:-30px;
}
.main-nav{
	float: right;
	margin-top:60px;
}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a{
	padding: 5px 0;
	color: white;
	text-decoration:none;
	text-transform: uppercase;
	font-size:90%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid #1a1aff;
}
.main-content-header{
	width:1180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%);
}
h1{
	color:white;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 0px;
	margin-bottom:20px;
	text-transform:uppercase;
	
}
#data{
	font-size: 30px;
}
#data2{
	font-size:55px;
}
/*.btn{
	display: inline-block;
	padding: 10px;
	font-weight: lighter;
	text-decoration:none;
	text-transform: uppercase;
	border-radius: 200px;
	transition : background-color 0.2s,border 0.2s,color 0.2;
}
.btn-full{
	background-color: transparent;
	color: black;
	margin-right: 15px;
	border: 1px solid black;
}
.btn-full:hover{
	background-color:#ff66cc;
}*/
.btn-nav{
	background-color: transparent;
	color:black;
	border: 1px solid black;
}
.btn-nav:hover{
	background-color:#ff66cc;
}
.color-change{
	animation: colorchange 1s infinite;
}
@keyframes  colorchange{
	0%{color:#ff66cc;}
	25%{color:#3366ff;}
	50%{color:#ff66cc;}
	100%{color:#3366ff;}
}
.mobile-icon{
	display:none;
}
/* Responsive Querries are from here*/
@media only screen and (max-width:1180px){
	.main-content-header{
	width: 100%;
	padding:0 2%;
	}
}
@media only screen and (max-width:998px){
	h1{font-size:180%;}

	.main-nav{display: none;}

	.mobile-icon{
		display: inline-block;
		color:black;
		float: right;
		margin-top:30px;
		margin-right: 20px;
	}
	.main-nav{
		float:left;	
	}
	.main-nav li{
			display:block;
			margin-top: 10px;
	}
}

.display-content{
	width:auto;
	height:auto;
	/*border:2px solid red;*/
}
.top-heading{
color:black;
	font-size:30px;
	font-weight:bold;
	font-family:cursive;
	padding:50px;
	margin-left:50px;
}
#top-div{
	padding:10px;
	
}
.section1{
	/*border:2px solid red;*/
	height:420px;
}
.section2{
	/*border:2px solid red;*/
	height:520px;
	color:black;
}
.div1{
	/*border:2px solid black;*/
	margin-top:-90px;
}
#p{
	font-size:30px;
	font-weight:bold;
}
#p1{
	font-size:30px;
	color:black;
	font-weight:bold;
}
p{
	color:black;
	font-weight:bold;
}
.section3-div1{
	border:2px solid white;
	height:200;
	margin-top:40px;
	margin-left:200px;
	border-radius:5px;
}
.section3-div2{
	border:2px solid white;
	height:200;
	margin-top:40px;
	margin-left:5px;
	border-radius:5px;
}
.disp{
	margin-top:-25px;
	background-color:white;
	opacity:0.7;
}
.info{
	color:white;
}
@media only screen and (max-width: 480px){
	.btn-full{
		margin-bottom: 20px;
	}
	h1{
		font-size: 160%;
	}
}
#last-section{
	color:black;
	margin-top:-65px;
}
#table-div{
	margin-top:-65px;
}