/*#add{
	border: 1px solid green;
	padding: 2px 12px;
	font-size:20px;
	font-weight:bold;
	font-family:verdana;
	cursor:pointer;
	border-radius:4px;
}*/
td{
	font-size:17px;
}
input{
	border:2px solid black;
	border-radius:3px;
}
#aaa{
	border: 1px solid green;
	border-radius:4px;
	width:40%;
	margin: 20px auto;
	border-collapse:collapse;
}

#aaa th{
		background-color: #edf2fe;
	    color: #3300ff;
}

#aaa th,#aaa td{
		border: 1px solid blue;
	border-collapse: collapse;
}
h2{
	font-size:18px;
}